.pagination {
  display: flex;
  justify-content: center;
  // background-color: pink;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
