<ul class="pagination">
  <li *ngIf="!(hideOnSinglePage && generatePages().length <= 1 || currentPage === 1)" (click)="changePage(currentPage - 1)">
    <a href="#">&laquo;</a>
  </li>
  <li *ngFor="let page of generatePages();"
    (click)="changePage(page)">
    <a [class.active]="page===currentPage" href="#">
      {{ page }}
    </a>
  </li>
  <li *ngIf="!(hideOnSinglePage && generatePages().length <= 1 || currentPage === generatePages().length)" (click)="changePage(currentPage + 1)">
    <a href="#">&raquo;</a>
  </li>
</ul>
